
<mat-toolbar  color="primary" class="mat-elevation-z6">

  <a mat-button routerLink="/">
    <span>HOME</span>
  </a>

  <a mat-button routerLink="/about">
    <span>ABOUT</span>
  </a>

  <a mat-button routerLink="/first-demo">
    <span>FIRST DEMO</span>
  </a>

  <a mat-button routerLink="/testing-service">
    <span>TESTING SERVICE</span>
  </a>
  
  <a mat-button routerLink="/testing-http-service">
    <span>TESTING HTTP SERVICE</span>
  </a>

  <a mat-button routerLink="/testing-component">
    <span>TESTING COMPONENT</span>
  </a>

  <a mat-button routerLink="/testing-directive">
    <span>TESTING DIRECTIVE</span>
  </a>

  <a mat-button routerLink="/testing-pipe">
    <span>TESTING PIPE</span>
  </a>

</mat-toolbar>


<router-outlet></router-outlet>
