.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #e0e0e0; /* Grey background for visualization */
}

.item {
  flex-basis: calc(33.33% - 10px); /* Assuming a margin of 10px between items */
  margin-bottom: 20px; /* Margin between rows */
  background-color: white; /* Grey background for visualization */
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

