@page
@model AuthNET.Sharing.WebApp.Pages.Resource.WriteModel
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome to Resource</h1>
    <p>Congrats! You can <span class="text-danger">write</span> the resources in this application.</p>
</div>