@page
@model AuthNET.Sharing.WebApp.Pages.RoleBased.AdminOrEmployeeModel
@{
}

<div class="text-center">
    <h1 class="display-4">Role-based authorization</h1>
    <p>You have role <b>Admin</b> or <b>Employee</b></p>
</div>
