@page
@model AuthNET.Sharing.WebApp.Pages.RoleBased.AdminAndEmployeeModel
@{
}

<div class="text-center">
    <h1 class="display-4">Role-based authorization</h1>
    <p>You have roles <b>Admin</b> &amp; <b>Employee</b></p>
</div>
