@import "variables";

.ts- {
  &layout {
    height: 100%;
  }
  &logo {
    margin: $common-space;
    float: left;
  }
}

nz-header {
  background: #fff;
}

nz-content {
  margin: 16px;
}

.inner-content {
  padding: $common-space;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}
